<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>\$this-&gt;${1:ModelName}-&gt;field(${2:'${3:name}'}, ${4:'conditions'}, ${5:'order'});
$0</string>
	<key>name</key>
	<string>$this-&gt;ModelName-&gt;field()</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>field</string>
	<key>uuid</key>
	<string>EBB8D77D-567A-4B23-B224-7FAFFCCE00FB</string>
</dict>
</plist>
