<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php
/**
 * ${2:undocumented class}
 *
 * @package ${2:default}
 * @author ${PHPDOC_AUTHOR:$TM_FULLNAME}
 * @date \$LastChangedDate\$
 **/
class ${1:PluralModelName}sController extends AppController {
	var \$name = '$1s';
	${2:var \$scaffold;}
	${3:var \$helpers = array(${4:'html', 'form'}${5:,helpers});}
	$0

	function index() {
		  \$this-&gt;set('data',\$this-&gt;$1-&gt;find('all));
	}
	
	function ${6}view(\$id = null) {
		if (!$id) {
			$this-&gt;Session-&gt;setFlash(__('Invalid $1.', true));
			$this-&gt;redirect(array('action'=&gt;'index'));
		}
		$this-&gt;set('data', $this-&gt;$1-&gt;read(null, $id));
	}	
}
?&gt;</string>
	<key>name</key>
	<string>Controller</string>
	<key>scope</key>
	<string>source.php, text.html.basic</string>
	<key>tabTrigger</key>
	<string>controller</string>
	<key>uuid</key>
	<string>03D809B4-7F9C-4F30-A402-60DDF7F8EBE6</string>
</dict>
</plist>
