<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>/**
 * ${1:Undocumented file}
 * 
 * ${2:Short description}
 * 
 * ${3:Long description}
 *
 * @package ${4:default}
 * @author ${5:$TM_FULLNAME}
 * @copyright `date +%Y` `echo $TM_ORGANIZATION_NAME`
 * @license $6
 * @date \$LastChangedDate\$
 * @version \$Rev\$
 **/
$0</string>
	<key>name</key>
	<string>Dox Doc page</string>
	<key>scope</key>
	<string>source.php.cake</string>
	<key>tabTrigger</key>
	<string>cdoc</string>
	<key>uuid</key>
	<string>11F91D5A-CD81-4327-AC2F-ECD768167825</string>
</dict>
</plist>
