<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$${1:data}; ?&gt;</string>
	<key>name</key>
	<string>echo</string>
	<key>scope</key>
	<string>text.html.php.cake</string>
	<key>tabTrigger</key>
	<string>echo</string>
	<key>uuid</key>
	<string>F5418E73-4DDB-4863-ACCC-A32504EE05FD</string>
</dict>
</plist>
