<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$form-&gt;create('${1:Model}'$2); ?&gt;
	$0
&lt;?php echo \$form-&gt;end($3); ?&gt;</string>
	<key>name</key>
	<string>$form-&gt;create()...end()</string>
	<key>scope</key>
	<string>text.html.php.cake</string>
	<key>tabTrigger</key>
	<string>form</string>
	<key>uuid</key>
	<string>DA294F6C-74CB-4CD9-89AD-C12D83745372</string>
</dict>
</plist>
