<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$form-&gt;password('${1:Model}.${2:field}'$3); ?&gt;
$0</string>
	<key>name</key>
	<string>$form-&gt;password()</string>
	<key>scope</key>
	<string>text.html.php.cake</string>
	<key>tabTrigger</key>
	<string>pass</string>
	<key>uuid</key>
	<string>A7FA1064-FADC-491A-B701-8E296DAD892E</string>
</dict>
</plist>
