<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;?php echo \$form-&gt;submit(${1:'${2:Submit}'$3}); ?&gt;
$0</string>
	<key>name</key>
	<string>$form-&gt;submit()</string>
	<key>scope</key>
	<string>text.html.php.cake</string>
	<key>tabTrigger</key>
	<string>submit</string>
	<key>uuid</key>
	<string>BC5DE605-A9FE-4BF7-A06E-4F1FE910FE18</string>
</dict>
</plist>
