<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>ctp</string>
		<string>php</string>
	</array>
	<key>foldingStartMarker</key>
	<string>(/\*|\{|\()</string>
	<key>foldingStopMarker</key>
	<string>(\*/|\}|\))</string>
	<key>keyEquivalent</key>
	<string>^~C</string>
	<key>name</key>
	<string>CakePHP</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>begin</key>
			<string>\{</string>
			<key>end</key>
			<string>\?&gt;</string>
			<key>name</key>
			<string>class.controller.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\$this-&gt;</string>
			<key>name</key>
			<string>keyword.this.class.cake</string>
		</dict>
		<dict>
			<key>captures</key>
			<dict>
				<key>1</key>
				<dict>
					<key>name</key>
					<string>keyword.method.class.cake</string>
				</dict>
			</dict>
			<key>match</key>
			<string>($this-&gt;)([a-zA-Z]+)(\()\b</string>
			<key>name</key>
			<string>support.method.class.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\$this-&gt;[a-zA-Z]*</string>
			<key>name</key>
			<string>support.member.class.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(bind|unbind|hasField|field|read|save|saveField|delete|exists|hasAny|find|query|validates|invalidate|invalidFields|isForeignKey|getID|getLastInsertID|getInsertID|getNumRows|getAffectedRows|setDatasource|beforeFind|afterFind|beforeSave|afterSave|beforeDelete|afterDelete)\b</string>
			<key>name</key>
			<string>support.function.model.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(hasOne|belongsTo|hasMany|hasAndBelongsToMany|cacheQueries|data|displayField|id|logTransactions|name|primaryKey|recursive|useDbConfig|useTable|validate|validationErrors)\b</string>
			<key>name</key>
			<string>support.property.model.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(redirect|set|setAction|validate|validateErrors|render|referer|flash|postCondtions|beforeFilter|beforeRender|afterFilter)\b</string>
			<key>name</key>
			<string>support.function.controller.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(name|action|autoLayout|autoRender|base|beforeFilter|cacheAction|components|data|helpers|here|layout|output|pageTitle|params|persistModel|plugin|uses|view|viewPath|webroot)\b</string>
			<key>name</key>
			<string>support.property.controller.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(APP|APP_DIR|APP_PATH|CACHE|CAKE|CAKE_CORE_INCLUDE_PATH|COMPONENTS|CONFIGS|CONTROLLER_TESTS|CONTROLLERS|CORE_PATH|CSS|DS|ELEMENTS|HELPER_TESTS|HELPERS|INFLECTIONS|JS|LAYOUTS|LIB_TESTS|LIBS|LOGS|MODEL_TESTS|MODELS|MODULES|MONTH|PEAR|ROOT|SCRIPTS|SECOND|TESTS|TMP|VENDORS|VIEWS|WEBROOT_DIR|WEBSERVICES|WWW_ROOT)\b</string>
			<key>name</key>
			<string>support.constant.core.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(setId|findBySql)\b</string>
			<key>name</key>
			<string>invalid.deprecated.model.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(areaTag|charsetTag|checkboxTag|contentTag|cssTag|fileTag|formTag|guiListTag|hiddenTag|imageTag|inputTag|javascriptIncludeTag|javascriptTag|linkEmail|linkOut|linkTo|parseHtmlOptions|passwordTag|radioTags|submitTag|tag|urlFor|isFieldError|labelTag|divTag|pTag|generate(Input|Checkbox|Area|Select|Submit)Div)\b</string>
			<key>name</key>
			<string>invalid.deprecated.helper.html.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(linkToRemote)\b</string>
			<key>name</key>
			<string>invalid.deprecated.helper.ajax.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(generate(Date|DateTime|Fields))\b</string>
			<key>name</key>
			<string>support.function.helper.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(addCrumb|charset|url|link|submit|password|textarea|checkbox|css|file|getCrumbs|hidden|image|input|radio|tableHeaders|tableCells|validate|tagIsValid|validateErrors|tagErrorMsg|selectTag|(day|year|month|hour|minute|meridian|date)OptionTag)\b</string>
			<key>name</key>
			<string>support.function.helper.html.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(link|remoteFunction|remoteTimer|form|submit|observe(Field|Form)|autoComplete|drag|drop|dropRemote|slider|editor|sortable|)\b</string>
			<key>name</key>
			<string>support.function.helper.ajax.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(read|append|write|get(Md5|Size|Ext|Name|Owner|Group|Folder|Chmod|FullPath)|create|exists|delete|writable|executable|readable|last(Access|Change))\b</string>
			<key>name</key>
			<string>support.function.file.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(write)\b</string>
			<key>name</key>
			<string>support.function.log.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(precision|toReadableSize|toPercentage)\b</string>
			<key>name</key>
			<string>support.function.helper.number.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(startup|setAjax|is(Ajax|Xml|Rss|Atom|Post|Get|Delete|Mobile)|getAjaxVersion|setContent|get(Referer|ClientIP)|strip(WhiteSpace|Images|Scripts|All|tags)|accepts|prefers)\b</string>
			<key>name</key>
			<string>support.function.component.requestHandler.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(write|read|del|delete|check|error|setFlash|flash|renew|valid)\b</string>
			<key>name</key>
			<string>support.function.component.session.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(startup|blackHole|requirePost|requireAuth)\b</string>
			<key>name</key>
			<string>support.function.component.security.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(paranoid|sql|html|cleanArray|cleanArrayR|cleanValue|formatColumns)\b</string>
			<key>name</key>
			<string>support.function.component.sanitize.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(trim|fromString|nice|niceShort|isToday|daysAsSql|dayAsSql|isThisYear|wasYesterday|isTomorrow|toUnix|toAtom|toRSS|timeAgoInWords|relativeTime|wasWithinLast)\b</string>
			<key>name</key>
			<string>support.function.helper.time.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(highlight|stripLinks|autoLinkUrls|autoLinkEmails|autoLink|truncate|excerpt|flay)\b</string>
			<key>name</key>
			<string>support.function.helper.text.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(codeBlock|link|linkOut|escape(String|Script)|event|(cache|write)Events|includeScript|object)\b</string>
			<key>name</key>
			<string>support.function.helper.javascript.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(findIn|cleanup|add|plus|totals|filter|walk|sprintf|extract|unique|makeUnique|joinWith|threaded|multi_search)\b</string>
			<key>name</key>
			<string>support.function.neatArray.cake</string>
		</dict>
		<dict>
			<key>match</key>
			<string>\b(load(Models|PluginModels|View|Model|Controllers|PluginController)|listClasses|config|gendor|debug|aa|ha|a|e|low|up|r|pr|params|am|setUri|env|cache|clearCache|stripslashes_deep|countDim|LogError|fileExistsInPath|convertSlash)\b</string>
			<key>name</key>
			<string>support.function.basics.cake</string>
		</dict>
		<dict>
			<key>include</key>
			<string>source.php</string>
		</dict>
		<dict>
			<key>include</key>
			<string>text.html.basic</string>
		</dict>
	</array>
	<key>scopeName</key>
	<string>source.php.cake</string>
	<key>uuid</key>
	<string>3DF2FE0B-94CC-4EE2-A50A-BD4823D1B09D</string>
</dict>
</plist>
