<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Completions</string>
	<key>scope</key>
	<string></string>
	<key>settings</key>
	<dict>
		<key>completions</key>
		<array>
			<string>accepts</string>
			<string>add</string>
			<string>addCrumb</string>
			<string>afterDelete</string>
			<string>afterFilter</string>
			<string>afterFind</string>
			<string>afterSave</string>
			<string>APP</string>
			<string>append</string>
			<string>APP_DIR</string>
			<string>APP_PATH</string>
			<string>autoComplete</string>
			<string>autoLink</string>
			<string>autoLinkEmails</string>
			<string>autoLinkUrls</string>
			<string>beforeDelete</string>
			<string>beforeFilter</string>
			<string>beforeFind</string>
			<string>beforeRender</string>
			<string>beforeSave</string>
			<string>bindModel</string>
			<string>blackHole</string>
			<string>CACHE</string>
			<string>cache</string>
			<string>cacheEvents</string>
			<string>CAKE_CORE_INCLUDE_PATH</string>
			<string>charset</string>
			<string>check</string>
			<string>checkbox</string>
			<string>cleanup</string>
			<string>clearCache</string>
			<string>codeBlock</string>
			<string>COMPONENTS</string>
			<string>config</string>
			<string>CONFIGS</string>
			<string>contentTag</string>
			<string>CONTROLLERS</string>
			<string>CONTROLLER_TESTS</string>
			<string>convertSlash</string>
			<string>CORE_PATH</string>
			<string>countDim</string>
			<string>create</string>
			<string>CSS</string>
			<string>css</string>
			<string>dayOptionTag</string>
			<string>daysAsSql</string>
			<string>debug</string>
			<string>del</string>
			<string>delete</string>
			<string>drag</string>
			<string>drop</string>
			<string>dropRemote</string>
			<string>DS</string>
			<string>editor</string>
			<string>ELEMENTS</string>
			<string>env</string>
			<string>error</string>
			<string>escapeScript</string>
			<string>escapeString</string>
			<string>event</string>
			<string>excerpt</string>
			<string>executable</string>
			<string>execute</string>
			<string>exists</string>
			<string>extract</string>
			<string>field</string>
			<string>file</string>
			<string>fileExistsInPath</string>
			<string>fileTag</string>
			<string>filter</string>
			<string>find</string>
			<string>findAll</string>
			<string>findCount</string>
			<string>findIn</string>
			<string>flash</string>
			<string>form</string>
			<string>formatColumns</string>
			<string>fromString</string>
			<string>gendor</string>
			<string>getAjaxVersion</string>
			<string>getChmod</string>
			<string>getClientIP</string>
			<string>getCrumbs</string>
			<string>getExt</string>
			<string>getFolder</string>
			<string>getFullPath</string>
			<string>getGroup</string>
			<string>getID</string>
			<string>getInsertID</string>
			<string>getLastInsertID</string>
			<string>getMd5</string>
			<string>getName</string>
			<string>getNumRows</string>
			<string>getOwner</string>
			<string>getReferer</string>
			<string>getSize</string>
			<string>guiListTag</string>
			<string>ha</string>
			<string>hasAny</string>
			<string>hasField</string>
			<string>HELPERS</string>
			<string>HELPER_TESTS</string>
			<string>hidden</string>
			<string>hiddenTag</string>
			<string>highlight</string>
			<string>HOUR</string>
			<string>hourOptionTag</string>
			<string>html</string>
			<string>image</string>
			<string>imageTag</string>
			<string>includeScript</string>
			<string>INFLECTIONS</string>
			<string>input</string>
			<string>inputTag</string>
			<string>invalidate</string>
			<string>invalidFields</string>
			<string>isAjax</string>
			<string>isAtom</string>
			<string>isDelete</string>
			<string>isFieldError</string>
			<string>isForeignKey</string>
			<string>isGet</string>
			<string>isMobile</string>
			<string>isPost</string>
			<string>isRss</string>
			<string>isThisYear</string>
			<string>isToday</string>
			<string>isTomorrow</string>
			<string>isXml</string>
			<string>javascriptIncludeTag</string>
			<string>javascriptTag</string>
			<string>joinWith</string>
			<string>JS</string>
			<string>labelTag</string>
			<string>lastAccess</string>
			<string>lastChange</string>
			<string>LAYOUTS</string>
			<string>LIBS</string>
			<string>LIB_TESTS</string>
			<string>link</string>
			<string>linkEmail</string>
			<string>linkOut</string>
			<string>linkTo</string>
			<string>listClasses</string>
			<string>LogError</string>
			<string>LOGS</string>
			<string>LOG_ERROR</string>
			<string>low</string>
			<string>makeUnique</string>
			<string>MODELS</string>
			<string>MODEL_TESTS</string>
			<string>MODULES</string>
			<string>multi_search</string>
			<string>nice</string>
			<string>niceShort</string>
			<string>object</string>
			<string>observeField</string>
			<string>observeForm</string>
			<string>params</string>
			<string>paranoid</string>
			<string>parseHtmlOptions</string>
			<string>password</string>
			<string>PEAR</string>
			<string>plus</string>
			<string>postCondtions</string>
			<string>precision</string>
			<string>prefers</string>
			<string>query</string>
			<string>radio</string>
			<string>randomPassword</string>
			<string>read</string>
			<string>readable</string>
			<string>redirect</string>
			<string>referer</string>
			<string>relativeTime</string>
			<string>remoteFunction</string>
			<string>remoteTimer</string>
			<string>remove</string>
			<string>render</string>
			<string>renew</string>
			<string>requireAuth</string>
			<string>requirePost</string>
			<string>ROOT</string>
			<string>save</string>
			<string>saveField</string>
			<string>script</string>
			<string>SCRIPTS</string>
			<string>set</string>
			<string>setAction</string>
			<string>setAjax</string>
			<string>setContent</string>
			<string>setDatasource</string>
			<string>setFlash</string>
			<string>setUri</string>
			<string>slider</string>
			<string>sortable</string>
			<string>sql</string>
			<string>startup</string>
			<string>stripAll</string>
			<string>stripImages</string>
			<string>stripLinks</string>
			<string>stripScripts</string>
			<string>stripTags</string>
			<string>stripWhiteSpace</string>
			<string>submit</string>
			<string>tableCells</string>
			<string>tableHeaders</string>
			<string>tag</string>
			<string>tagErrorMessage</string>
			<string>tagIsValid</string>
			<string>TESTS</string>
			<string>textarea</string>
			<string>threaded</string>
			<string>timeAgoInWords</string>
			<string>TMP</string>
			<string>toArray</string>
			<string>toAtom</string>
			<string>toCompressed</string>
			<string>toPercentage</string>
			<string>toReadableSize</string>
			<string>toRoman</string>
			<string>toRSS</string>
			<string>totals</string>
			<string>toUnix</string>
			<string>truncate</string>
			<string>unbindModel</string>
			<string>unique</string>
			<string>up</string>
			<string>url</string>
			<string>urlFor</string>
			<string>user</string>
			<string>valid</string>
			<string>validate</string>
			<string>virtualFields</string>
			<string>validateErrors</string>
			<string>validates</string>
			<string>VENDORS</string>
			<string>VIEWS</string>
			<string>walk</string>
			<string>wasWithinLast</string>
			<string>wasYesterday</string>
			<string>WEBROOT_DIR</string>
			<string>writable</string>
			<string>write</string>
			<string>writeBuffer</string>
			<string>writeEvents</string>
			<string>WWW_ROOT</string>
		</array>
	</dict>
	<key>uuid</key>
	<string>DDF54CE1-D849-40DE-A765-2676DB5263CB</string>
</dict>
</plist>
